node_modules/
dist/
env.d.ts
/src/autokitteh
playwright-report/
test-results/
tsconfig.json
tsconfig.node.json
CHANGELOG.md
.github/workflows/*
env.d.ts
package.json
package-lock.json
generateProjectFilesIndex.js