# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/mcp.json

.env

# Playwright Test Results
/test-results/
/playwright-report/
/playwright/.cache/
/blob-report/

# Playwright Test Results Docker Visual Regression
.cache/dconf
.config/google-chrome
.pki


# Sentry Config File

# Storybook Static Build
/storybook-static/

# ESLint Cache
.eslintcache

# Directory to files list generator output (template_files_generator.cjs)
directory_contents.json

# AI IDE
.groupedtimelineinclude
.kiro
.codex
.claude
.cursor
.vscode/extensions.json

# MCPs
.vscode/mcp.json
.serena/
.taskmaster/

# ACT Run github workflows locally
.vars
.secrets

# npm
.npm-docker-cache
.npm
