{
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"printWidth": 160,
	"quoteProps": "consistent",
	"semi": true,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"plugins": ["prettier-plugin-tailwindcss"]
}
