<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<% if (env.VITE_GTM_ID) { %>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "<%= env.VITE_GTM_ID %>");
		</script>
		<!-- End Google Tag Manager -->
		<% } %>

		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>AutoKitteh</title>

	</head>
	<body>
		<% if (env.VITE_GTM_ID) { %>
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=%VITE_GTM_ID%"
				height="0"
				width="0"
				style="display: none; visibility: hidden"
			></iframe
		></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<% } %>
		<div id="root"></div>
		<script type="module" src="/src/main.tsx"></script>
		<% if (env.VITE_HUBSPOT_PORTAL_ID) { %>
		<!-- Start of HubSpot Embed Code -->
		<script type="module">
			import { initHubSpot } from '/src/utils/initHubSpot.ts';
			initHubSpot('<%= env.VITE_HUBSPOT_PORTAL_ID %>');
		</script>
		<!-- End of HubSpot Embed Code -->
		<% } %>
	</body>
</html>
