.loader-cycle-disks {
	position: relative;
	display: inline-block;
	width: 4rem;
	height: 4rem;
}

.loader-cycle-disks:before,
.loader-cycle-disks:after {
	content: "";
	left: 0;
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: gray;
	-webkit-animation: movingCircles 2s infinite ease-in-out;
	animation: movingCircles 2s infinite ease-in-out;
}

.loader-cycle-disks:after {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
	background-color: black;
}

@-webkit-keyframes movingCircles {
	0% {
		z-index: 1;
		transform: translate(0, 0);
	}

	50% {
		z-index: 1;
		transform: translate(120%, 0);
	}

	50.1% {
		z-index: 0;
		transform: translate(120%, 0);
	}

	100% {
		z-index: 0;
		transform: translate(0, 0);
	}
}

@keyframes movingCircles {
	0% {
		z-index: 1;
		transform: translate(0, 0);
	}

	50% {
		z-index: 1;
		transform: translate(120%, 0);
	}

	50.1% {
		z-index: 0;
		transform: translate(120%, 0);
	}

	100% {
		z-index: 0;
		transform: translate(0, 0);
	}
}